/*======== footer ========*/

footer {
	padding: 40px 0;
	background-color: #eee;
}

.container-footer {
	color: #222;
	font-size: 14px;

	/* flex */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
}

.copyright {
	margin: 0;
	width: 30%;
}

.footer-social {
	color: #222;
	font-size: 14px;
	width: 9%;
	margin: 0;
	display: inline-block;
}

.nav-social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	background-color: #bbb;
	text-align: center;
	color: #eee;
	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s
}
 .icon-social {
 	text-align: center;
 	margin-top: 8px;
 }
 .icon-social-tw:hover {
 	background-color: #55acee;
 }

.icon-social-fb:hover {
	background-color: #3b5998;	
}

.icon-social-gl:hover {
	background-color: #dd4b39;
}

.icon-social-in:hover {
	background-color: #0077b5;
}